.cardInicio {
    background-color: #f2f2f2;
}


.form-label {
    color: #3f3f3f;
}

.btnCard2 {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btnCard2 {
    background-color: #dc7d01;
    border-color: #dc7d01;
}

.tituloCard{
    color: #ffffff;
}