
/* Reinicio de  css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; 
}

.contenedorCardInicio {
    height: 100vh;
    width: 100vw;
    margin-top: -15%;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #110e0d80 ;



}

.cardInicio {
    max-width: 50vw;


}

.tituloCard {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 10px;
    font-size: larger;
    font-weight: bold;
}

.textCard {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ccNitInput {
    text-align: right;
}

.btnCard{
    font-weight: bolder;
}